    <ul>
      <li>Documentation
        <ul>
              <li><a href="/farmbot-developers/v11/Documentation/farmbot-software-development.html">farmbot-software-development</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/farmbot-js.html">farmbot-js</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/assertions.html">assertions</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/farmbot-software-development/faq.html">faq</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/farmbot-software-development/high-level-overview.html">high-level-overview</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/farmbot-software-development/3rd-party-developer-prizes.html">3rd-party-developer-prizes</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/farmbot-software-development/about.html">about</a></li>
          <li>Web App
            <ul>
              <li><a href="/farmbot-developers/v11/Documentation/web-app.html">web-app</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/web-app/user-interface.html">user-interface</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/web-app/env-vars-and-globalconfigs.html">env-vars-and-globalconfigs</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/web-app/message-broker.html">message-broker</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/web-app/realtime-updates-auto-sync.html">realtime-updates-auto-sync</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/web-app/rest-api.html">rest-api</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/web-app/create-a-resource.html">create-a-resource</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/web-app/experimental-mqtt-api.html">experimental-mqtt-api</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/web-app/special-api-endpoints.html">special-api-endpoints</a></li>
            </ul>
          </li>
          <li>Celery Script
            <ul>
              <li><a href="/farmbot-developers/v11/Documentation/celery-script.html">celery-script</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/celery-script/identifying-success-and-failure.html">identifying-success-and-failure</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/celery-script/nodes.html">nodes</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/celery-script/history-of-rpcs-in-farmbot.html">history-of-rpcs-in-farmbot</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/celery-script/out-of-band-responses.html">out-of-band-responses</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/celery-script/celeryscript-glossary.html">celeryscript-glossary</a></li>
            </ul>
          </li>
          <li>FarmBot OS
            <ul>
              <li><a href="/farmbot-developers/v11/Documentation/farmbot-os.html">farmbot-os</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/farmbot-os/beta-updates.html">beta-updates</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/farmbot-os/farmbot-os-faq.html">farmbot-os-faq</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/farmbot-os/gathering-a-log-dump.html">gathering-a-log-dump</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/farmbot-os/gathering-information-at-runtime.html">gathering-information-at-runtime</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/farmbot-os/farmbot-os-development.html">farmbot-os-development</a></li>
            </ul>
          </li>
          <li>Farmware
            <ul>
              <li><a href="/farmbot-developers/v11/Documentation/farmware.html">farmware</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/farmware/farmware-hosting-and-workflows.html">farmware-hosting-and-workflows</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/farmware/you-might-not-need-farmware.html">you-might-not-need-farmware</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/farmware/common-farmware-problems.html">common-farmware-problems</a></li>
            </ul>
          </li>
          <li>Firmware
            <ul>
              <li><a href="/farmbot-developers/v11/Documentation/firmware.html">firmware</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/firmware/custom-firmware.html">custom-firmware</a></li>
              <li><a href="/farmbot-developers/v11/Documentation/firmware/parameters.html">parameters</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>Other Resources
        <ul>
          <li><a href="/farmbot-developers/v11/Other-Resources/responsible-disclosure-of-security-vulnerabilities.html">responsible-disclosure-of-security-vulnerabilities</a></li>
          <li><a href="/farmbot-developers/v11/Other-Resources/running-servers-offline.html">running-servers-offline</a></li>
          <li><a href="https://openfarm.cc">OpenFarm</a></li>
          <li><a href="/farmbot-developers/v11/Other-Resources/factory-testing-utilities.html">factory-testing-utilities</a></li>
          <li><a href="https://github.com/farmbot">GitHub</a></li>
          <li><a href="/farmbot-developers/v11/Other-Resources/developer-newsletter.html">developer-newsletter</a></li>
        </ul>
      </li>
      <li>Python
        <ul>
          <li><a href="/farmbot-developers/v11/Python/web-app-api-examples.html">web-app-api-examples</a></li>
          <li><a href="/farmbot-developers/v11/Python/message-broker-examples.html">message-broker-examples</a></li>
        </ul>
      </li>
    </ul>
