      <h3>Documentation</h3>
        <ul>

          <li class="parent"><a href="/farmbot-developers/{{ include.version }}/Documentation/farmbot-software-development.html">FarmBot Software Development</a>
            <ul class="sub">
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/farmbot-software-development/high-level-overview.html">High Level Overview</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/farmbot-software-development/3rd-party-developer-prizes.html">3rd Party Developer Prizes</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/farmbot-software-development/faq.html">Frequently Asked Questions</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/farmbot-software-development/about.html">About Our Developer Docs</a></li>
            </ul>
          </li>

          <li class="parent"><a href="/farmbot-developers/{{ include.version }}/Documentation/web-app.html">Web App</a>
            <ul class="sub">
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/web-app/user-interface.html">User Interface</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/web-app/rest-api.html">REST API</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/web-app/message-broker.html">Message Broker</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/web-app/realtime-updates-auto-sync.html">Subscribing to Resource Updates</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/web-app/experimental-mqtt-api.html">Publishing Resources via MQTT, Introduction</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/web-app/create-a-resource.html">Publishing Resource Updates via MQTT</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/web-app/env-vars-and-globalconfigs.html">ENV Vars and GlobalConfigs</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/web-app/special-api-endpoints.html">Special API Endpoints</a></li>
            </ul>
          </li>

          <li class="parent"><a href="/farmbot-developers/{{ include.version }}/Documentation/celery-script.html">CeleryScript</a>
            <ul class="sub">
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/celery-script/nodes.html">Nodes</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/celery-script/identifying-success-and-failure.html">Identifying Success and Failure</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/celery-script/out-of-band-responses.html">Out of Band Responses</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/celery-script/celeryscript-glossary.html">CeleryScript Glossary</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/celery-script/history-of-rpcs-in-farmbot.html">History of RPCs in FarmBot</a></li>
            </ul>
          </li>

          <li><a href="/farmbot-developers/{{ include.version }}/Documentation/farmbot-js.html">FarmBot JS</a></li>

          <li class="parent"><a href="/farmbot-developers/{{ include.version }}/Documentation/farmbot-os.html">FarmBot OS</a>
            <ul class="sub">
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/farmbot-os/farmbot-os-development.html">FarmBot OS Development</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/farmbot-os/gathering-information-at-runtime.html">Gathering Information at Runtime</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/farmbot-os/beta-updates.html">Beta Updates</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/farmbot-os/gathering-a-log-dump.html">Gathering a Log Dump</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/farmbot-os/farmbot-os-faq.html">Frequently Asked Questions</a></li>
            </ul>
          </li>

          <li class="parent"><a href="/farmbot-developers/{{ include.version }}/Documentation/farmware.html">Farmware</a>
            <ul class="sub">
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/farmware/farmware-hosting-and-workflows.html">Farmware Hosting and Workflows</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/farmware/common-farmware-problems.html">Common Farmware Problems</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/farmware/you-might-not-need-farmware.html">You Might Not Need Farmware</a></li>
            </ul>
          </li>

          <li class="parent"><a href="/farmbot-developers/{{ include.version }}/Documentation/firmware.html">Firmware</a>
            <ul class="sub">
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/firmware/parameters.html">Parameters</a></li>
              <li><a href="/farmbot-developers/{{ include.version }}/Documentation/firmware/custom-firmware.html">Custom Firmware</a></li>
            </ul>
          </li>

          <li><a href="/farmbot-developers/{{ include.version }}/Documentation/assertions.html">Assertions</a></li>

        </ul>

      <h3>Python</h3>
        <ul>
          <li><a href="/farmbot-developers/{{ include.version }}/Python/web-app-api-examples.html">Web App API Examples</a></li>
          <li><a href="/farmbot-developers/{{ include.version }}/Python/message-broker-examples.html">Message Broker Examples</a></li>
        </ul>

      <h3>Other Resources</h3>
        <ul>
          <li><a href="/farmbot-developers/{{ include.version }}/Other-Resources/openfarm.html">OpenFarm</a></li>
          <li><a href="/farmbot-developers/{{ include.version }}/Other-Resources/running-servers-offline.html">Running Servers Offline</a></li>
          <li><a href="/farmbot-developers/{{ include.version }}/Other-Resources/responsible-disclosure-of-security-vulnerabilities.html">Responsible Disclosure of Security Vulnerabilities</a></li>
          <li><a href="https://github.com/farmbot">GitHub<i class="fa fa-external-link-square"></i></a></li>
          <li><a href="http://eepurl.com/dJ4P86">Developer Newsletter<i class="fa fa-external-link-square"></i></a></li>
          <li><a href="/farmbot-developers/{{ include.version }}/Other-Resources/factory-testing-utilities.html">Factory Testing Utilities</a></li>
        </ul>

